{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Cliente{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Cliente') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_clientes.new', fid='cit_cliente_form') %}
            {% call f.form_group(form.nombres) %}{% endcall %}
            {% call f.form_group(form.apellido_primero) %}{% endcall %}
            {% call f.form_group(form.apellido_segundo) %}{% endcall %}
            {% call f.form_group(form.curp) %}{% endcall %}
            {% call f.form_group(form.telefono) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.limite_citas_pendientes) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
