{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('PAG TRAMITES SERVICIOS') %}
            {{ topbar.button('Trámites y Servicios', url_for('pag_tramites_servicios.list_active'), 'mdi:folder') }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros PagPagos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosPagPagos.buscar(); return false;">
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroEmail" type="text" class="form-control" aria-label="e-mail" style="text-transform: lowercase;">
                            <label for="filtroEmail">e-mail</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroEstado" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroEstado">Estado</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFolio" type="text" class="form-control" aria-label="Folio" style="text-transform: uppercase;">
                            <label for="filtroFolio">Folio</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPagPagos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPagPagos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable PagPagos -->
        <table id="pag_pagos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creado</th>
                    <th>Cliente</th>
                    <th>e-mail</th>
                    <th>Trámite o Servicio</th>
                    <th>Distrito</th>
                    <th>Autoridad</th>
                    <th>Estado</th>
                    <th>Folio</th>
                    <th>Total</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable PagPagos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/pag_pagos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'cit_cliente' },
            { data: 'email' },
            { data: 'pag_tramite_servicio' },
            { data: 'distrito' },
            { data: 'autoridad' },
            { data: 'estado' },
            { data: 'folio' },
            { data: 'total' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.creado + '</a>';
                }
            },
            {
                targets: 1, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    let texto = data.nombre;
                    if (texto.length > 16 ) {
                        texto = data.nombre.substr(0, 16) + '…'
                    }
                    if (data.url == '') {
                        return '<span title="' + data.nombre + '">' + texto + '</span>';
                    }
                    return '<a href="' + data.url + '"><span title="' + data.nombre + '">' + texto + '</span></a>';
                }
            },
        ];
        // Filtros PagPagos
        const filtrosPagPagos = new FiltrosDataTable('#pag_pagos_datatable', configDataTable);
        filtrosPagPagos.agregarInput('filtroEmail', 'email');
        filtrosPagPagos.agregarInput('filtroEstado', 'estado');
        filtrosPagPagos.agregarInput('filtroFolio', 'folio');
        filtrosPagPagos.precargar();
    </script>
{% endblock %}
