{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar contenido de {{ web_pagina.clave }} en Syncfusion Rich Text Editor{% endblock %}

{% block custom_head %}
    <!-- Syncfusion Essential JS 2 Rich Text Editor's dependent material theme -->
    <link href="http://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-navigations/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-splitbuttons/styles/material.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.syncfusion.com/ej2/ej2-filemanager/styles/material.css" rel="stylesheet" type="text/css" />
    <!-- Syncfusion Essential JS 2 Rich Text Editor's global material theme -->
    <link href="http://cdn.syncfusion.com/ej2/ej2-richtexteditor/styles/material.css" rel="stylesheet" type="text/css"/>
    <!-- Syncfusion Essential JS 2 Rich Text Editor's dependent script -->
    <script src="http://cdn.syncfusion.com/ej2/ej2-base/dist/global/ej2-base.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-buttons/dist/global/ej2-buttons.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-inputs/dist/global/ej2-inputs.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-lists/dist/global/ej2-lists.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-navigations/dist/global/ej2-navigations.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-popups/dist/global/ej2-popups.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-splitbuttons/dist/global/ej2-splitbuttons.min.js" type="text/javascript"></script>
    <script src="http://cdn.syncfusion.com/ej2/ej2-filemanager/dist/global/ej2-filemanager.min.js" type="text/javascript"></script>
    <!-- Syncfusion Essential JS 2 Rich Text Editor's global script -->
    <script src="http://cdn.syncfusion.com/ej2/ej2-richtexteditor/dist/global/ej2-richtexteditor.min.js" type="text/javascript"></script>
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar contenido de ' + web_pagina.clave + ' en Syncfusion Rich Text Editor') %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'web_pagina_id': web_pagina.id} %}
        {% call f.form_tag('web_paginas.edit_syncfusion_markdown', fid='web_pagina_form', **form_kwargs) %}
            <div style="display:none">
                {% call f.form_group(form.contenido_html) %}{% endcall %}
                {% call f.form_group(form.contenido_md) %}{% endcall %}
            </div>
            <div id='editor' style='width:100%'></div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Marked -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- Syncfusion Essential JS 2 Rich Text Editor -->
    <script>

        // Obtener los elementos del formulario y del componente
        const webPaginaForm = document.getElementById('web_pagina_form');
        const contenidoHtmlTextArea = document.getElementById('contenido_html');
        const contenidoMdTextArea = document.getElementById('contenido_md');

        // Inicializar el editor
        async function initializeEditor() {

            // Inicializar el componente
            let richtexteditorContainer = new ej.richtexteditor.RichTextEditor({
                editorMode: 'Markdown',
                height: '590px',
                toolbarSettings: {
                    type: 'Expand',
                    enableFloating: false,
                },
                value: contenidoMdTextArea.value,
            });
            richtexteditorContainer.appendTo('#editor');
            console.log('Se ha inicializado el editor de markdown');

            // Cambiar la forma de enviar el formulario
            webPaginaForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevenir la sumisión inmediata del formulario
                contenidoMdTextArea.value = richtexteditorContainer.value; // Actualizar el valor con el markdown
                contenidoHtmlTextArea.value = marked.parse(contenidoMdTextArea.value); // Actualizar el valor con el HTML
                webPaginaForm.submit(); // Enviar el formulario
            });

        } // async function

        // Ejecutar la función principal para cargar el soporte de idioma y luego inicializar el editor
        // Hay que asegurarse que los componentes base de Syncfusion (ej2-base.min.js) estén listos
        if (typeof ej !== 'undefined' && ej.base) {
            initializeEditor();
        } else {
            console.error('Los componentes básicos de Syncfusion NO se han cargado. No se puede iniciar el editor.');
        }

    </script>
{% endblock %}
